body{
    display:flex;
    flex-direction: column;
    overflow: scroll;
    height:100vh;
    margin:0;
    font-family: 'sans-serif';
    
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-bottom: 80px;
    
}
.Header-Logo{
    font-weight: 900;
    font-size: 24px;
    margin-right: 570px;
}
.upper-container{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-side{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.left-side button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0;
    margin-bottom: 30px;
    width:100px;
    height:25px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: flex-end;
    margin-top: 0;

}
a{
    text-decoration: none;
    color:white;
}
h2{
    width:600px;
    font-size: 48px;
    margin-bottom: 0;
}
.left-side p{
    width:500px;
    font-size: 18px;
    margin-top: 0;
    font-weight: lighter;
}
.upper-container .right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 110px 150px;
    margin-bottom: 100px;
    margin-top: 30px;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight:bolder; 
    color: #1F2937;
}
.mid-container .group{
    display: flex;
    flex-direction: column;
}

body .mid-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:55px;
    text-align: center;
}
.mid-container .box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border:3px solid #3882F6;
    border-radius: 12px;
}
.mid-container .text{
    width:189px;
    padding-bottom: 150px;
   
}
body .lower-container{
    display: flex;
    flex-direction:column;
    background-color: #E5E7EB;
    align-items:center;
    justify-content: center;
    
    
    
}
.lower-container p{
    font-size:36px;
    font-weight: 100;
    font-style:italic;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.lower-container h6{
    display: flex;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
   align-items: flex-end;
   padding-left: 600px;
   
    
}
.lower-container .bottom{
    display: flex;
    justify-content: right;
}

.lower-container2{
    background-color: #3882F6;
    margin: 100px 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 50px 75px;
}
.lower-container2 .left-side{
    display: flex;
    flex-direction: column;
}
.lower-container2 h6{
   font-size: 20px;
   margin-bottom: 0;
   padding-bottom: 0;
   margin-top: 0;
   padding-top: 0;
}
.lower-container2 p{
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
}

.lower-container2 button{
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 20px; 

}
.footer{
    background-color: #1F2937;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
   
}

